{% extends "base.html" %}

{% block css %}
    <style>
    
        #next_button {
            float: right;
        }
        
        .wrapper{
            width: 80%;
            height: 97%;
            margin: auto;
            overflow: auto;
        }
        .header {
        position:absolute;
        top: 0px;
        width: 80%;
        height: 3%;
        text-align: right;
        padding-right: 10px;
        }
        
    </style>
{% end %}

{% block content %}
<div class="wrapper">
    <br><br>
    <h1>Data Collection Policy</h1>
    <b><u>Please consider this information carefully before deciding whether to accept this task.</u></b>
    <br><br>
    <b>PURPOSE OF RESEARCH:</b> To evaluate the performance and user perception of text-based conversational agents.
    <br><br>
    <b>WHAT YOU WILL DO:</b> You will be assigned to interact with a dialog system. You will pretend that you are going on a business trip and interact with the assigned dialog system to find out answers to three different questions about the company's business travel regulations. Not all dialog systems will be able to deliver a good answer, if after trying, you cannot find an answer, you are free to move on to the next goal.
    <b>Sometimes, answers can take up to 30 seconds - please be patient and don't immediately restart the dialog.</b>
    <br><br>
    <b>TIME REQUIRED:</b> Participation will take approximately 10-15 minutes.
    <br><br>
    <b>RISKS:</b> There are no anticipated risks associated with participating in this study. The effects of participating should be comparable to those you would 
    experience from viewing a computer monitor for 10-15 minutes and using a mouse and keyboard.
    <br><br>
    <b>LIMITATIONS:</b> This task is suitable for all people who can read from and input text into a computer.
    <br><br>
    <b>CONFIDENTIALITY:</b> Your participation in this study will remain confidential. Your responses will be assigned a code number. You will be asked to provide your Prolific ID, but this <b>will not be stored</b>, but rather converted to an anonymous hashed ID. You will be asked to provide your age and gender and previous experience with chatbots/business travel. Throughout the experiment, we may collect data such as your textual input, and your feedback in form of a questionnaire. The records of this study will be kept private. In any sort of report we make public we will not include any information that will make it possible to identify you. Research records will be kept in a locked file; only the researchers will have access to the records.
    <br><br>
    <b>PARTICIPATION AND WITHDRAWAL:</b> Your participation in this study is voluntarily, and you may withdraw at any time.
    <br><br>
    <b>DATA REGULATION:</b> TODO: Add your data regulation policy here
    <form id="survey_form" onsubmit="return submit_form(event)" method="POST" action="/agreed_to_data_collection">
        <button type="submit" class="btn btn-success mb-4">I agree</button>
    </form>

    <br><br> 
    <div class="header">
        <a href="">Impressum</a>
    </div>         
</div>
{% end %}