{% extends "base.html" %}

{% block css %}

<style>
    .btn-secondary.active, .btn-secondary:active {
        color: white !important;
        background: #00BEFF !important;
        border-color: #00BEFF !important;
    }

</style>

{% end %}

{% block scripts %}
<script>
    function validate_form() {
        var elements = document.getElementById("survey_form").elements;
        for (var i = 0, element; element = elements[i++];) {
            if (element.type == "radio"){
            var valid = element.checkValidity()
            if (!valid){
                var table = document.getElementById(element.name + '_table');
                // Handles the additional questions which are hidden and optional
                if (table){
                table.style.borderStyle = 'dotted';
                table.style.borderWidth = '2px';
                table.style.borderColor = 'red';
                };
            }
            }
            else if (element.type == "textarea"){
            var valid = element.checkValidity()
            if (!valid){
                element.style.borderStyle = 'solid';
                element.style.borderColor = 'red';
            }
            else {
                element.style.borderColor = 'grey';
            }
            };
        };
    };
    </script> 

{% end %}

{% block content %}
<div class="container">
    <h1 class="mb-4 mt-4">Pre-Interaction Survey</h1>
    <form id="survey_form" onsubmit="return submit_form(event)" method="POST" action="/log_pre_survey">

        <div class="card mt-5 mb-3">
            <div class="card-header">
                <h4>Demographic Information</h4>
            </div>
            <h5 style="padding-left: 1%; padding-top: 1%;">What gender do you identify as?</h5>
            <div style="display: inline; padding-left: 3%;">
                <input class="form-check-input" type="radio" name="gender" id="male" value="male" required/>
                <label for="male">Male</label>
            </div>
            <div style="display: inline; padding-left: 3%;">
                <input class="form-check-input" type="radio" name="gender" id="female" value="female" required/>
                <label for="female">Female</label>
            </div>
            <div style="display: inline; padding-left: 3%;">
                <input class="form-check-input" type="radio" name="gender" id="other" value="other" required/>
                <label for="other">Other</label>
            </div>            

        <h5 style="padding-left: 1%; padding-top: 1%;">What is your age?</h5>
        <div style="display: inline; padding-left: 3%;">
            <input class="form-check-input" type="radio" name="age" id="u20" value="<20" required/>
            <label for="u20">Less than 20</label>
        </div>
        <div style="display: inline; padding-left: 3%;">
            <input class="form-check-input" type="radio" name="age" id="20s" value="20-29" required/>
            <label for="20s">20 to 29</label>
        </div>
        <div style="display: inline; padding-left: 3%;">
            <input class="form-check-input" type="radio" name="age" id="30s" value="30-39" required/>
            <label for="30s">30 to 39</label>
        </div>  
        <div style="display: inline; padding-left: 3%;">
            <input class="form-check-input" type="radio" name="age" id="40s" value="40-49" required/>
            <label for="40s">40 to 49</label>
        </div>
        <div style="display: inline; padding-left: 3%;">
            <input class="form-check-input" type="radio" name="age" id="50s" value="50-59" required/>
            <label for="50s">50 to 59</label>
        </div>
        <div style="display: inline; padding-left: 3%;">
            <input class="form-check-input" type="radio" name="age" id="60s" value="60-69" required/>
            <label for="60s">60 to 69</label>
        </div>
        <div style="display: inline; padding-left: 3%;">
            <input class="form-check-input" type="radio" name="age" id="70p" value=">=70" required/>
            <label for="other">70 or older</label>
        </div>  
        
       <h5 style="padding-left: 1%; padding-top: 1%;">Previous Experience with Chatbots</h5> 
        <div style="display: inline; padding-left: 3%;">
            <input class="form-check-input" type="radio" name="experience_chatbots" id="ex_1" value="1" required/>
            <label for="ex_1">I've never used a chatbot</label>
        </div>
        <div style="display: inline; padding-left: 3%;">
            <input class="form-check-input" type="radio" name="experience_chatbots" id="ex_2" value="2" required/>
            <label for="ex_2">I've used a chatbot once</label>
        </div>
        <div style="display: inline; padding-left: 3%;">
            <input class="form-check-input" type="radio" name="experience_chatbots" id="ex_3" value="3" required/>
            <label for="ex_3">I've used a chatbot more than once</label>
        </div> 
        <div style="display: inline; padding-left: 3%;">
            <input class="form-check-input" type="radio" name="experience_chatbots" id="ex_4" value="4" required/>
            <label for="ex_4">I frequently use chatbot(s)</label>
        </div>
        <div style="display: inline; padding-left: 3%;">
            <input class="form-check-input" type="radio" name="experience_chatbots" id="ex_5" value="5" required/>
            <label for="ex_5">I use chatbot(s) daily or near daily</label>
        </div>

        <h5 style="padding-left: 1%; padding-top: 1%;">Previous Experience with Business Travel</h5> 
        <div style="display: inline; padding-left: 3%;">
            <input class="form-check-input" type="radio" name="experience_businesstravel" id="bus_ex_1" value="1" required/>
            <label for="bus_ex_1">I've never been on a business trip</label>
        </div>
        <div style="display: inline; padding-left: 3%;">
            <input class="form-check-input" type="radio" name="experience_businesstravel" id="bus_ex_2" value="2" required/>
            <label for="bus_ex_2">I have been on a business trip once</label>
        </div>
        <div style="display: inline; padding-left: 3%;">
            <input class="form-check-input" type="radio" name="experience_businesstravel" id="bus_ex_3" value="3" required/>
            <label for="bus_ex_3">I have been on more than one business trip</label>
        </div> 
        <div style="display: inline; padding-left: 3%;">
            <input class="form-check-input" type="radio" name="experience_businesstravel" id="bus_ex_4" value="4" required/>
            <label for="bus_ex_4">I frequently go on business trips</label>
        </div>
        <div style="display: inline; padding-left: 3%; padding-bottom: 1%;">
            <input class="form-check-input" type="radio" name="experience_businesstravel" id="bus_ex_5" value="5" required/>
            <label for="bus_ex_5">I am a part of the business travel department at my company</label>
        </div>                
    </div> 
        

        <div class="card mt-5 mb-3">
            <div class="card-header">
                <h4>Expectations of Chatbots</h4>
            </div>
            <div class="card-body">
                <p style="padding: 2%;">The following questions are aimed at understanding what your expectations/previous experiences are for a <b>business travel chatbot</b>. Based on your previous knowledge of chatots, please answer them assuming you would be interacting with a chatbot to find out more about business travel regulations at a particular company.</p>

                <h6>What type of information would you expect to be able to get from a chatbot? In what circumstances would you consider using a chatbot to find out information vs. contacting a real person or reading through company policy documents?</h6>
                <div class="form-group">
                <textarea class="form-control" name="expectations_1" id="expectations_1" rows="4" required></textarea>
                </div> 

                <h6 style="padding-top: 2%;">How would you phrase your input to the chatbot? Is this similar or different to how you would use a search engine or ask a real person?</h6>
                <div class="form-group">
                <textarea class="form-control" name="expectations_2" id="expectations_2" rows="4" required></textarea>
                </div> 

                <h6 style="padding-top: 2%;">What type or quality of answer would you expect to be able to get from a chatbot, e.g., style, level of detail, correctness, etc.?</h6>
                <div class="form-group">
                <textarea class="form-control" name="expectations_3" id="expecations_3" rows="4" required></textarea>
                </div>                

                <p class="card-title" style="padding-top: 2%"><b>Please mark how much you agree with the following statements:</b></p>
                <table
            class="table table-striped"
            style="width: 70%; margin-top: 2%; margin-left: 15%; margin-bottom: 2%">
            <thead>
            <tr>
                <td scope="col" />
                <td scope="col" style="text-align: center">
                Strongly Disagree
                </td>
                <td scope="col" style="text-align: center">
                Disagree
                </td>
                <td scope="col" style="text-align: center">
                Neither Agree Nor Disagree
                </td>
                <td scope="col" style="text-align: center">
                Agree
                </td>
                <td scope="col" style="text-align: center">
                Strongly Agree
                </td>            
            </tr>
            </thead>
            <tbody>
                <tr id="chat_exp_1">
                    <td scope="row">
                        In general I think that a chatbot can understand natural language questions, like I would phrase them if I were asking another person
                    </td>
                    <td style="text-align: center">
                    <input class="form-check-input" type="radio" name="chat_exp_1" id="chat_exp_1_1" value="1" required>
                    </td>
                    <td style="text-align: center">
                    <input class="form-check-input" type="radio" name="chat_exp_1" id="chat_exp_1_2" value="2" required>
                    </td>
                    <td style="text-align: center">
                    <input class="form-check-input" type="radio" name="chat_exp_1" id="chat_exp_1_3" value="3" required>
                    </td>
                    <td style="text-align: center">
                    <input class="form-check-input" type="radio" name="chat_exp_1" id="chat_exp_1_4" value="4" required>
                    </td>
                    <td style="text-align: center">
                    <input class="form-check-input" type="radio" name="chat_exp_1" id="chat_exp_1_5" value="5" required>
                    </td>

                </tr>

                <tr id="chat_exp_2">
                    <td scope="row">
                        In general I think that a chatbot can only recognize keywords/or provide fixed options that I can select
                    </td>
                    <td style="text-align: center">
                    <input class="form-check-input" type="radio" name="chat_exp_2" id="chat_exp_2_1" value="1" required>
                    </td>
                    <td style="text-align: center">
                    <input class="form-check-input" type="radio" name="chat_exp_2" id="chat_exp_2_2" value="2" required>
                    </td>
                    <td style="text-align: center">
                    <input class="form-check-input" type="radio" name="chat_exp_2" id="chat_exp_2_3" value="3" required>
                    </td>
                    <td style="text-align: center">
                    <input class="form-check-input" type="radio" name="chat_exp_2" id="chat_exp_2_4" value="4" required>
                    </td>
                    <td style="text-align: center">
                    <input class="form-check-input" type="radio" name="chat_exp_2" id="chat_exp_2_5" value="5" required>
                    </td>
                </tr> 
                
                <tr id="chat_exp_3">
                    <td scope="row">
                        In general I think that in order to get a good answer from a chatbot, I have to ask a very precise question
                    </td>
                    <td style="text-align: center">
                    <input class="form-check-input" type="radio" name="chat_exp_3" id="chat_exp_3_1" value="1" required>
                    </td>
                    <td style="text-align: center">
                    <input class="form-check-input" type="radio" name="chat_exp_3" id="chat_exp_3_2" value="2" required>
                    </td>
                    <td style="text-align: center">
                    <input class="form-check-input" type="radio" name="chat_exp_3" id="chat_exp_3_3" value="3" required>
                    </td>
                    <td style="text-align: center">
                    <input class="form-check-input" type="radio" name="chat_exp_3" id="chat_exp_3_4" value="4" required>
                    </td>
                    <td style="text-align: center">
                    <input class="form-check-input" type="radio" name="chat_exp_3" id="chat_exp_3_5" value="5" required>
                    </td>
                </tr>
                
                <tr id="chat_exp_4">
                    <td scope="row">
                        In general I think that a chatbot can ask clarifying questions to help me narrow down my problem, e.g., if my original question is vague
                    </td>
                    <td style="text-align: center">
                    <input class="form-check-input" type="radio" name="chat_exp_4" id="chat_exp_4_1" value="1" required>
                    </td>
                    <td style="text-align: center">
                    <input class="form-check-input" type="radio" name="chat_exp_4" id="chat_exp_4_2" value="2" required>
                    </td>
                    <td style="text-align: center">
                    <input class="form-check-input" type="radio" name="chat_exp_4" id="chat_exp_4_3" value="3" required>
                    </td>
                    <td style="text-align: center">
                    <input class="form-check-input" type="radio" name="chat_exp_4" id="chat_exp_4_4" value="4" required>
                    </td>
                    <td style="text-align: center">
                    <input class="form-check-input" type="radio" name="chat_exp_4" id="chat_exp_4_5" value="5" required>
                    </td>
                </tr>
                
                <tr id="chat_exp_5">
                    <td scope="row">
                        In general I think that a chatbot can only give high-level/general answers to questions
                    </td>
                    <td style="text-align: center">
                    <input class="form-check-input" type="radio" name="chat_exp_5" id="chat_exp_5_1" value="1" required>
                    </td>
                    <td style="text-align: center">
                    <input class="form-check-input" type="radio" name="chat_exp_5" id="chat_exp_5_2" value="2" required>
                    </td>
                    <td style="text-align: center">
                    <input class="form-check-input" type="radio" name="chat_exp_5" id="chat_exp_5_3" value="3" required>
                    </td>
                    <td style="text-align: center">
                    <input class="form-check-input" type="radio" name="chat_exp_5" id="chat_exp_5_4" value="4" required>
                    </td>
                    <td style="text-align: center">
                    <input class="form-check-input" type="radio" name="chat_exp_5" id="chat_exp_5_5" value="5" required>
                    </td>
                </tr>
                
                <tr id="chat_exp_6">
                    <td scope="row">
                        In general I think that a chatbot can give me a personalized answer specific to my case
                    </td>
                    <td style="text-align: center">
                    <input class="form-check-input" type="radio" name="chat_exp_6" id="chat_exp_6_1" value="1" required>
                    </td>
                    <td style="text-align: center">
                    <input class="form-check-input" type="radio" name="chat_exp_6" id="chat_exp_6_2" value="2" required>
                    </td>
                    <td style="text-align: center">
                    <input class="form-check-input" type="radio" name="chat_exp_6" id="chat_exp_6_3" value="3" required>
                    </td>
                    <td style="text-align: center">
                    <input class="form-check-input" type="radio" name="chat_exp_6" id="chat_exp_6_4" value="4" required>
                    </td>
                    <td style="text-align: center">
                    <input class="form-check-input" type="radio" name="chat_exp_6" id="chat_exp_6_5" value="5" required>
                    </td>
                </tr>  
                
                <tr id="chat_exp_7">
                    <td scope="row">
                        In general I think that a chatbot should be able to provide an immediate answer as a direct response to my question (single turn interaction)
                    </td>
                    <td style="text-align: center">
                    <input class="form-check-input" type="radio" name="chat_exp_7" id="chat_exp_7_1" value="1" required>
                    </td>
                    <td style="text-align: center">
                    <input class="form-check-input" type="radio" name="chat_exp_7" id="chat_exp_7_2" value="2" required>
                    </td>
                    <td style="text-align: center">
                    <input class="form-check-input" type="radio" name="chat_exp_7" id="chat_exp_7_3" value="3" required>
                    </td>
                    <td style="text-align: center">
                    <input class="form-check-input" type="radio" name="chat_exp_7" id="chat_exp_7_4" value="4" required>
                    </td>
                    <td style="text-align: center">
                    <input class="form-check-input" type="radio" name="chat_exp_7" id="chat_exp_7_5" value="5" required>
                    </td>
                </tr>

                <tr id="chat_exp_8">
                    <td scope="row">
                        In general I think that a chatbot would need to ask multiple questions before it is able to give me an answer
                    </td>
                    <td style="text-align: center">
                    <input class="form-check-input" type="radio" name="chat_exp_8" id="chat_exp_8_1" value="1" required>
                    </td>
                    <td style="text-align: center">
                    <input class="form-check-input" type="radio" name="chat_exp_8" id="chat_exp_8_2" value="2" required>
                    </td>
                    <td style="text-align: center">
                    <input class="form-check-input" type="radio" name="chat_exp_8" id="chat_exp_8_3" value="3" required>
                    </td>
                    <td style="text-align: center">
                    <input class="form-check-input" type="radio" name="chat_exp_8" id="chat_exp_8_4" value="4" required>
                    </td>
                    <td style="text-align: center">
                    <input class="form-check-input" type="radio" name="chat_exp_8" id="chat_exp_8_5" value="5" required>
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
        </div>

        

        <button type="submit" class="btn btn-success mb-4" onclick="validate_form()">Submit</button>
    </form>
</div>
{% end %}